{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'news_app/style.css' %}">
</head>
<body>
    <h1>Список новостей</h1>
    {% for item in news %}
        <div>
            <a href="{% url 'view_news' news_id=item.pk %}"><h2>{{ item.title }}</h2></a>
            <p>{{ item.content }}</p>
            {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="Фото">
            {% endif %}
            <p>Опубликовано: {{ item.created_at|date:"Y-m-d H:i:s" }}</p>
        </div>
        <hr>
    {% endfor %}
</body>
</html>